footer
  width 100%

  .container-fluid
    padding-top 40px
    padding-bottom 40px

  .footer-social
    .customicon
      font-size 25px

    .social-facebook
      color $social-facebook

      &:hover
        color lighten($social-facebook, 10%)

    .social-twitter
      color $social-twitter

      &:hover
        color lighten($social-twitter, 10%)

    .social-linkedin
      color $social-linkedin

      &:hover
        color lighten($social-linkedin, 10%)

    a
      &:hover
        text-decoration none
