.header-container
  background $gray-base
  width 100%
  z-index 10

  .header-logo
    font-size 70px
    font-family $font-family-light
    color #fff
    position relative
    height auto
    transition('height' 500ms ease-in-out)

    &:hover
      text-decoration none
      color #fff

    .initials
      top 5px
      position relative

  // &.affix
  //   .header-logo
  //     height 0
  //     transition('height' 500ms ease-in-out)

  //   .main-navigation
  //     background rgba($brand-primary, .7)

  //     .nav > li > affix
  //       color #fff

  //       &:hover
  //         background darken($brand-primary, 20%)
