.main-navigation
  width 100%
  background $gray-base

  &.affix
    top 0
    background rgba($brand-primary, .7)

    .nav > li > a
      color #fff

      &:hover
        background darken($brand-primary, 20%)
