//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base =             #000;
$gray-darker =           #444;
$gray-dark =             #888;
$gray =                  #ccc;
$gray-light =            #eee;
$gray-lighter =          #f6f6f6;

$brand-primary =         #ff3a8d;
$brand-secondary =       #EEFF38;

$brand-success =         #00BD6E;
$brand-info =            #388BFF;
$brand-warning =         #FFAC38;
$brand-danger =          #FF4938;


//** Social Media Colors
$social-facebook =       #3b5998;
$social-twitter =        #4099ff;
$social-pinterest =      #c92228;
$social-linkedin =       #007bb6;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif =  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-black =       "Source Sans Pro Black", $font-family-sans-serif;
$font-family-bold =        "Source Sans Pro Bold", $font-family-sans-serif;
$font-family-medium =      "Source Sans Pro Medium", $font-family-sans-serif;
$font-family-light =       "Source Sans Pro Light", $font-family-sans-serif;

$font-weight-black =       800;
$font-weight-bold =        600;
$font-weight-medium =      500;
$font-weight-light =       300;
$font-weight-standard =    400;

$font-base =               16;
$font-size-base =          1em;
$font-size-large =         unit((18 / $font-base), em); // ~18px
$font-size-small =         unit((12 / $font-base), em); // ~12px

$font-size-h1 =            unit((36 / $font-base), em); // ~36px
$font-size-h2 =            unit((30 / $font-base), em); // ~30px
$font-size-h3 =            unit((24 / $font-base), em); // ~24px
$font-size-h4 =            unit((18 / $font-base), em); // ~18px
$font-size-h5 =            $font-size-base;
$font-size-h6 =            unit((12 / $font-base), em); // ~12px


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs =                  320px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min =              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone =               $screen-xs-min;

// Small screen / tablet/large phone
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm =                  321px;
$screen-sm-min =              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet =              $screen-sm-min;

// Medium screen / desktop/iPad
//** Deprecated `$screen-md` as of v3.0.1
$screen-md =                  768px;
$screen-md-min =              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop =             $screen-md-min;

// Large screen / desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg =                  1024px;
$screen-lg-min =              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop =          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max =              ($screen-sm-min - 1);
$screen-sm-max =              ($screen-md-min - 1);
$screen-md-max =              ($screen-lg-min - 1);
$screen-lg-max =              1200px;


// Gutter padding values
$gutter-xs-padding =          10px;
$gutter-sm-padding =          10px;
$gutter-md-padding =          20px;
$gutter-lg-padding =          20px;
