<footer class="bg-gray-darker">
  <div class="container-fluid">
    <div class="footer-social">
      <h4>Follow me</h4>
      <a href="https://www.facebook.com/pokahydee" target="_blank" class="social-facebook">
        <span class="customicon customicon-facebook"></span>
      </a>
      <a href="https://twitter.com/KrissiHall" target="_blank" class="social-twitter">
        <span class="customicon customicon-twitter"></span>
      </a>
      <a href="http://www.linkedin.com/pub/kristina-hall/6b/2b/518/" target="_blank" class="social-linkedin">
        <span class="customicon customicon-linkedin2"></span>
      </a>
    </div>
    <div class="footer-copyright">
      &copy;2015 <a href="http://kristinalhall.net">kristinalhall.net</a>. Kristina L. Hall
    </div>
  </div>
</footer>
